.transactionHistory {
    border-radius: 10px;
        margin: auto;
        padding: 0;
        font-size: 20px;
        width: 500px;
        overflow-y: scroll;
            height: 100px;
}

table {
    border-collapse: collapse;
    
}
table tr:nth-child(even) {
    background-color: rgba(215, 228, 244, 0.84);
}

table th,
table td {
    padding: 10px;
    border: 2px solid #4F2EE8;
}

